<!DOCTYPE html>
<html ng-app>
<head>
  <title>ANGULARJS</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js" ></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
<body>
  <div class ="jumbotron">
    <h1>ANGULARJS</h1>
  </div>
  <div>
    <label>Name:</label>
    <input type="text" ng-model="yourName" placeholder="Enter name here">
    <hr>
    <h1>Hello, you must be {{yourName}}</h1> 
  </div>




  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>

</body>
</html>